<!DOCTYPE html>
<html>
<head>
    <title>Create account</title>
	<meta charset="utf-8" />
    <link href={{url_for("static", filename="content/createaccountcss.css")}} rel="stylesheet" />
</head>
<body>
    <header><h2 class="signin-heading">Create account to start tracking your dreams</h2></header>
    
    <form action="/", method="post">
        <label for="firstname">First Name</label>
        <input name="firstname" type="text" id="firstname" placeholder="First Name" required /><br />

        <label for="surname">Your Surname</label>
        <input name="surname" type="text" id="surname" placeholder="Surname" required/><br />

        <label for="phone">Phone Number</label>
        <input name="phone" type="text" id="phone" required placeholder="Enter Phone Number"/><br />

        <label for="emailaddress">Your E-mail</label>
        <input name="emailaddress" type="text" id="emailaddress"  placeholder="Enter Email" required /><br />

        <label for="password">Password</label>
        <input name="password" id="password" placeholder="Enter Password" type="password" required /><br />

        <label> Repeat Password</label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" required><br />

        <input name="male-radio-button" class="male-radio-button" type="radio" />
        <label for=male-radio-button id="male-radio-label">Male</label>

        <input name="female-radio-button " class="female-radio-button" type="radio" />
        <label for=female-radio-button class="female-radio-label">Female</label><br />

        <input type="checkbox" checked="checked"> Remember me
        <p>Or, have an account?<a href="login.html">Login</a><p>
        <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

        <input type="submit" value="Start tracking goals!" id="password-button" />
    </form>

</body>
</html>
