<!DOCTYPE html>
<html>
<head>
    <title>{{bucketname}}</title>
	<meta charset="utf-8" />
    <link href="../static/content/samplebucketlist1css.css" rel="stylesheet" />
</head>
<body>
    <script src="../static/scripts/addscript.js"></script>
    <div id="myDIV" class="header">
        <h2>My Goals</h2>
        <input type="text" id="myInput" placeholder="Title...">
        <span onclick="newElement()" class="addBtn">Add</span>
    </div>

    <ul id="myUL">
        <li>sample</li>
    </ul> 
</body>
</html>
