<!DOCTYPE html>
<html>
<head>
    <title>{{newbucket}}</title>
	<meta charset="utf-8" />
    <link href="{{url_for("static", filename="content/samplebucketlist1css.css")}}" rel="stylesheet" />
</head>
<body>
    <div id="myDIV" class="header">
        <h2>My Goals</h2>
        <form action="{{url_for("bucketlist", newbucket=session["newbucket"], firstname=session["firstname"])}}" method="post" >
            <input type="text" id="myInput" placeholder="Title..." name="newlist">
            <input type="submit" name="addbtn" class="addbtn" value="Add" />
        </form>
    </div>

    <ul id="myUL">
        {% if not session["bucketitems"] %}
            <li>sample</li>
        {% else %}
            {% for item in session["bucketitems"] %}
                <li>{{ item }}</li>
            {% endfor %}
        {% endif %}
    </ul> 
</body>
</html>
