body{
    background-color:black;
    font-family:sans-serif;
    background-image:url("../images/background.jpg")
}
form{
    border-style:solid;
    padding: 10px 10px 4px 10px;
    width:800px;
    margin:auto;
    height:656px;
    border-color:rgba(123, 18, 18, 0.84);
    background-color:white;
}

form input{
    padding-top:4px;
    border-radius:4px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0 0 170px;
    border: none;
    cursor: pointer;
    width: 50%;
}

form input:focus{
    background-color:lemonchiffon;
    text-decoration-color:darkgray;
}

form label{
    padding-left:7px;
    display: inline-block;
    min-width:150px;
    width: 100px;
}
.male-radio-label, .female-radio-label{
    padding-left:0px;
    display:inline-block;
    margin-left:0px;
    width:1px;
    min-width: 5px;
}

.male-radio-button, .female-radio-button{
    display:inline-block;
    width:10px;
    padding-top:0px;
    margin-left:0px;
    margin-bottom:0px;
    border-style:solid;
}
.male-radio-button{
    margin-left:160px;
}

h2{
    padding-top:10px;
    padding-bottom:5px;
    background-color:#699eaa;
    margin-bottom:0px;
    height:50px;
    text-align:center;
}
