section{
	width: 600px;
	margin: auto;
	background:#858585;
}

li {
	font-family:sans-serif;
	list-style:none;
	display: inline;
}

blockquote{
	border: 2px inset;
	background-color: #905090
}
blockquote:hover{
	background-color:#005530
}
img{
	width: 20%;
	margin:auto;
}

textarea{
	width:500px;
	height:200px;
}
label{
	cursor:pointer;
}