* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

    /* Style the list items */
    ul li {
        cursor: pointer;
        position: relative;
        padding: 12px 8px 12px 40px;
        background: #eee;
        font-size: 18px;
        transition: 0.2s;
        border-left: 6px solid #f44336;
    }

        ul li:nth-child(odd) {
            background-color:aqua;
            border-left: 6px solid #d3eb36;
        }

        ul li:hover {
            background-color:darkgray;
        }

        /* When clicked on, add a background color and strike out text */
        ul li.done {
            background: #888;
            color: #fff;
            text-decoration: line-through;
        }




.header {
    background-color:forestgreen;
    padding: 30px 40px;
    color: white;
    text-align: center;
    margin-bottom:4px;
}



input {
    border: none;
    width: 75%;
    padding: 10px;
    font-size: 16px;
}


.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;

    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

    .addBtn:hover {
        background-color: #bbb;
    }
