body{
    background-image:url(../images/loginbackg.jpg)
}
form {
    text-align:left;
    border-style: solid;
    padding: 15px 15px 10px 15px;
    width: 600px;
    margin: auto;
    margin-top:150px;
    border-color: rgba(123, 18, 18, 0.84);
    background-color: white;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0 0 170px;
    border: none;
    cursor: pointer;
    width: 50%;
}